{% extends 'base.html' %}
{% load socialaccount %}
{% load staticfiles %}
{% load i18n %}
{% load display_account %}

{% block css %}

<style type="text/css">
.main-box{
	width: 400px;
	height: 480px;
	background: #eee;
	border-radius: 10px;
}
.content{
	margin: 20px;
}
.user-icon-main{
	width: 100%;
	height: 250px;
	padding: 20px;
}

.user-icon{
	font-size:  12.5em;
	opacity: 0.5;
}
.signup{
	/*padding-left: 50px;*/
}
</style>
{% endblock css %}


{% block content %}
<div width='100%' height='100%'>
<div class="center-block">
	<div class="content text-center">
		<h1>Welcome {{form.sociallogin.account.extra_data.screen_name}} !</h3>
	</div>
	<div class="main-box center-block">
		<div class="user-icon-main text-center">
		<!-- <span class="glyphicon glyphicon-user user-icon"></span> -->
		<img class="img-circle" src="
		{{form.sociallogin.account.extra_data.profile_image_url|slice:":-11"}}200x200.jpeg"/>
		
		</div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11">
<form class="signup" id="signup_form" role="form" method="post" action="{% url 'socialaccount_signup' %}">{% csrf_token %}
  <div class="form-group">
      	{% if form.username.errors.as_text %} 
	      <label class="error">{{ form.username.errors.as_text }}</label>
      {% endif %}
      <div class="input-group col-sm-10">
      	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		  <input type="text" class="form-control" id="id_username" maxlength="30" name="username" placeholder="Username" value="{{form.sociallogin.account.extra_data.screen_name}}" required="required">
    </div>
  </div>
  <div class="form-group">

    {% if form.email.errors.as_text %} 
	      <label class="error">{{ form.email.errors }}</label>
      {% endif %}
    <div class="input-group col-sm-10">
      	<span class="input-group-addon">@</span>
		  <input type="email" class="form-control" id="id_email" name="email" placeholder="E-mail address" required="required">

    </div>
    <p class="help-block small">We respect your privacy. Your email will be safe with us.
    </p>
  </div>

  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-8">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
    </div>
  </div>
</form>
</div>
</div> <!-- end row -->
	</div>
</div>
</div>
{% endblock %}